<!-- 审核、编辑用户 开始 -->
<h2>审核、编辑用户</h2>
<hr />

<div class="span-12">
<%= link_to "返回该用户显示页", user_path(@user) %> | 
<%= link_to "返回该用户管理首页", admin_user_path(@user) %>
</div>
<% if current_user && current_user.has_role?('owner') %>
<div class="button">
  <%#= link_to("物理删除该用户", rm_admin_user_path(@user), 
              :confirm => '物理删除该用户？删除后不可恢复！', :method => :delete) %>
</div>
<% end %>
<hr class="space" />

<div class="span-12">
<% form_for @user, :url => admin_user_path do |f| %>
  <%= f.error_messages %>
  <%#= render :partial => "form", :object => f %>
  <h3 class="alt"><%#= f.label :title,'标题' %>: </h3>
  <%#= f.text_field :title, :size => 70 %>
  <hr class="space" />
  
  <%= link_to @user.login, @user %> 上传于 <%= @user.created_at.to_s(:db) %>
  <hr class="space" />  
  
  <h3 class="alt">当前状态: </h3>
  <%= t(@user.state) %>
  <hr class="space" />  
  
  <h3 class="alt">用户截图:</h3>
  <%#= image_tag @user.asset.url(:medium), :alt => @user.filename %>
  <hr class="space" />  
  
  <h3 class="alt"><%#= f.label :description,'描述' %>:</h3>
  <%#= f.text_area :description %> 
  
  <% if false %>
  <h3 class="alt"><%#= f.label :tags %>: </h3>
  <%#= f.text_field :tag_list %>
  <% end %>
  
  <div class="span-12">
  <%= f.submit "提交更新" %> |
  <% if @user.state=="pending" %>
  <%= f.submit "审核通过" %> | 
  <% elsif @user.state=="converting" %>
  <%= f.submit "中止编码" %> |  
  <% elsif @user.state=="canceled" || @user.state=="error" \
          || @user.state=="soft_deleted"%>
    <%= f.submit "重置用户" %> |  
  <% else %>
    <%= f.submit "取消审核" %> |
  <% end %>
  <%= f.submit "重新生成缩略图" %> |
  <%= f.submit "手动编码" unless @user.state=="pending" %>
  <%= f.submit "不需编码" %>
  <% if @user.state == 'soft_deleted' %>
  <%= link_to("恢复该用户", admin_user_path(@user), :confirm => '恢复该用户?', :method => :put) %>
  <% else %>
  <%= link_to("删除该用户", admin_user_path(@user), :confirm => '删除该用户?', :method => :delete) %>
  <% end %>
  </div>
<% end %>
</div>

<div class="span-6">
  <h3 class="alt">原始用户详细参数</h3>
  <hr />
  <div class="span-2">时长：</div> 
  <div class="span-3">
    <%# time = (@user.duration/1000).to_i if @user.duration %>
    <%#= [time/3600, time/60 % 60, time % 60].map{|t| t.to_s.rjust(2,'0')}.join(':') %>
    <%#= [[time/3600,'时'], [time/60 % 60,'分'], [time % 60,'秒']].map{|t| t[0].to_s.rjust(2,'0')+t[1]}.join if @user.duration %>
  </div>
  <hr /><div class="span-2">容器：</div> <div class="span-3"><%#= @user.container %></div>
  <hr /><div class="span-2">宽：</div> <div class="span-3"><%#= @user.width %></div>
  <hr /><div class="span-2">高：</div> <div class="span-3"><%#= @user.height %></div>
  <hr /><div class="span-2">用户编码器：</div> <div class="span-3"><%#= @user.user_codec %></div>
  <hr /><div class="span-2">用户码率：</div> <div class="span-3"><%#= @user.user_bitrate %></div>
  <hr /><div class="span-2">用户帧率：</div> <div class="span-3"><%#= @user.fps %></div>
  <hr /><div class="span-2">音频编码器：</div> <div class="span-3"><%#= @user.audio_codec %></div>
  <hr /><div class="span-2">音频采样率：</div> <div class="span-3"><%#= @user.audio_sample_rate %></div>
</div>

<hr class="space" />
<div class="span-18">
  <h3 class="alt">播放原始用户：（仅当原始用户格式被支持时可用）</h3>
  <%# url = @user.asset.url %>
  <%#= render :partial => "shared/flowplayer", :locals => { :url => url, :player_id => "org_player" } %> 
  <hr class="space" />
</div>


<% if @user.state == "converted" %>
<div class = "span-18">
  <h3 class="alt">播放编码后的用户：</h3>
  <%#= "进入编码队列于：" + @user.queued_at.to_s(:db) if @user.queued_at %>
  <%#= "开始编码于：" + @user.started_encoding_at.to_s(:db) if @user.started_encoding_at %>
  <%#= "结束编码于：" + @user.encoded_at.to_s(:db) if @user.encoded_at %><hr class="space" />
  <% if time = @user.encoding_time %>
  完成编码总用： 
  <%#= "#{time.hour}小时" unless time.hour == 0 %>
  <%#= "#{time.min}分" unless time.min == 0 %>
  <%#= "#{time.sec}秒" %>
  <% end %>
  <%# url = @user.asset.url(:transcoded) %>
  <%#= render :partial => "shared/flowplayer", :locals => { :url => url, :player_id => "encoded_player" } %>
  <hr class="space" />
</div>			
<% end %>

<div class="span-12">
<%= link_to "返回该用户显示页", user_path(@user) %> | 
<%= link_to "返回该用户管理首页", admin_user_path(@user) %>
</div>
<hr class="space" />
<!-- 审核、编辑用户 结束 -->