<!-- 管理页面 用户详细信息显示 开始 -->
<div class="span-4"<h2>用户详细信息</h2></div>
<% if current_user && current_user.has_role?('admin') %>
<div class="button">
  <%= link_to "审核、编辑用户", edit_admin_user_path(@user) %>
</div>	  
<% end %>  
<hr />
  

    
	<h2>用户标题：<%#= @user.title %></h2>
  	
	<div class = "author">
	  <%= link_to @user.login, user_path(@user) %> 于 <%= @user.created_at.to_s(:db) %> 上传
	</div>
	<div>角色: 
	  <% @user.role_objects.each do |r| %>
	  <%= r.name %>
	  <% end %>
	</div>

<br />

  <% if @user.state == "converted" %>
    <%= "进入编码队列于：" + @user.queued_at.to_s(:db) if @user.queued_at %>
    <br />
    <%= "开始编码于：" + @user.started_encoding_at.to_s(:db) if @user.started_encoding_at %>
    <br />
    <%= "结束编码于：" + @user.encoded_at.to_s(:db) if @user.encoded_at %>
    <br />
    <% if time = @user.encoding_time %>
    完成编码总用： 
    <%= "#{time.hour}小时" unless time.hour == 0 %>
    <%= "#{time.min}分" unless time.min == 0 %>
    <%= "#{time.sec}秒" %>
    <% end %>
  <% end %>

  <% if @user.state == "converted" %>
  <p id = "user">
    <a  
    href="<%= @user.asset.url(:transcoded) %>"  
    style="display:block;width:500px;height:375px"
    id="player"> </a> 

    <!-- this will install flowplayer inside previous A- tag. -->
    <script>
    flowplayer("player", "/flowplayer/flowplayer-3.0.3.swf");
    </script>
  </p>
  <% else %>
    <%= @user.state %>
    <% if @user.state == "error" %>
      <h2>用户编码错误，请联系管理员</h2>	
    <% elsif @user.state == "pending" %>
      <h2>用户尚未审核通过</h2>
    <% elsif @user.state == "soft_deleted" %>
      <h2>用户已被删除</h2>   
    <% elsif @user.state == "converting" %>
      <h2>用户正在编码中，稍后再试</h2>      
    <% else %>
      <h2><%= @user.state %></h2> 	
    <% end %>
  <% end %>
		
	<br />
	
	<p>用户描述：<br /><%#= @user.description %></p>


  <p>用户截图：<br /><%#= image_tag @user.asset.url(:large), :alt => @user.filename %></p>

<hr />
<% if current_user && current_user.has_role?('admin') %>
<div class="button">
  <%= link_to "审核、编辑用户", edit_admin_user_path(@user) %>
</div>	  
<% end %>
<hr class="space" />
<!-- 管理页面 用户详细信息显示 结束 -->