<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>
  <head>
    <title><%= CONFIG['app_name'] %></title>
      <%= stylesheet_link_tag 'blueprint/screen', 'blueprint/plugins/fancy-type/screen', 'video', :media => "screen", :cache => true %>
      <%= stylesheet_link_tag 'blueprint/print', :media => "print", :cache => true %>
      <!--[if lt IE 8]>
       <%= stylesheet_link_tag 'blueprint/ie', :media => "screen, projection" %>
      <![endif]-->
  		<%= javascript_include_tag 'jquery' %>
  </head>

  <body>
    <!-- 主容器 开始 -->
    <!-- <div id = "body" class="container showgrid"> -->
    <%  container = Rails.env.production? ? "container" : "container showgrid" %>
    <div id = "body" class="<%= container %>">

      <%= render 'shared/header' %>
    	
    	<!-- 主体 开始 -->
    	<div id = "main" class="span-19 colborder">
				  <div class = "innertube">  
				    <% flash.each do |key,value| %>
				      <div id="flash" class="flash_<%= key %>" >
				        <span class="message"><%= value %></span>
				      </div>
							<br />
				    <% end -%>

            <div id="notice" style="color: green">
              <%= flash[:notice] %>
            </div>
            <div id="error" style="color: red">
              <%= flash[:error] %>
            </div>						
					</div>
					
				  <%= yield :layout %>
			</div>
      <!-- 主体 开始 -->
      
      <%= render 'shared/sidebar' %>
      <hr />
      <%= render 'shared/footer' %>
		  
		</div>
		<!-- 主容器 结束 -->
  </body>
</html>

